/* Defini uma configuração padrão para o bloco/container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Defini a variável com as cores para modo dark e light */
:root {
  --text-color: white;
  --bg-url: url(../image/bg-mobile.jpg);
  --stroker-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --suface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../icon/moon-stars.svg);
}

/* Defini as cores para modo dark e light */
.light {
  --text-color: black;
  --bg-url: url(../image/bg-mobile-light.jpg);
  --stroker-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --suface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../icon/sun.svg);
}

/* Defini a imagem de fundo da tela */
body {
  background: var(--bg-url) no-repeat top center/cover;
}

/* Defini o stilo e cor da font */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Defini as dimensões dos campos */
#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Defini a posição do profile */
#profile {
  text-align: center;
  padding: 24px;
}

/* Defini tamanho da imagem */
#profile img {
  width: 112px;
}

/* Defini a posição dos campos */
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Ele vai relativizar o absoluto, vai permitir que qualquer coisa que estiver dentro do button fique certinho*/
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

/* Defini propriedades para mudança de tema dark/light - switch */
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /* faz uma sobreposição de camadas */
  top: 50%;
  left: 0;
  z-index: 1; /* z-index ele muda o andares do objeto */
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

/* Defini as dimensões do botão para mudança de tema */
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroker-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Defini o stilo da lista dos links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

/* Defini o contrastes e ajustes das caixas dos campos */
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroker-color);

  border-radius: 20px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  /* transição é basicamente um refresh dos campos */
  transition: background 0.2s;
}
/* pseudo-selector: sombra ao passar mouse em cima do campos*/
ul li a:hover {
  background-color: var(--suface-color-hover);
  border: 1px solid var(--text-color);
}

/* Defini a posição e tamanho do social-links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  font-size: 24px;
}

/* Centraliza os icones do social-links */
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

/* Definição do footer rodapé */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
